* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sofia', cursive;
}

.primary-btn {
  color: #fff;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: #e55473;
  padding: 20px 43px;
}

/* Heading Section */

header {
  width: 100%;
  height: 850px;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
}

.main-heading {
  width: 708px;
  color: #272727;
  font-family: 'Lato';
  font-size: 80px;
  font-weight: 800;
  margin-top: 197px;
  margin-left: 240px;
}

.intro-para {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 240px;
}

.header-img {
  width: 635px;
  height: 800px;
  margin-top: 50px;
  margin-right: 240px;
  margin-bottom: 0px;
  margin-left: 97px;
}
.btn-head {
  margin-left: 240px;
  margin-bottom: 147px;
}
/* Main Section */

main {
  width: 100%;
  height: 1350px;
  background-color: #fff;
}

.mainpart-heading {
  width: 425px;
  height: 48px;
  color: #272727;
  text-align: center;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 800;
  margin-top: 178px;
  margin-left: 764px;
}

.main-para1 {
  width: 594px;
  height: 60px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 663px;
}

.shape1 {
  position: absolute;
  background-color: #e55473;
  width: 464px;
  height: 538px;
  border-radius: 50% 50% 0% 0%;
  margin-top: 48px;
  margin-left: 240px;
}

.shape2 {
  position: absolute;
  background-color: #0597a026;
  width: 464px;
  height: 538px;
  border-radius: 50% 50% 0% 0%;
  margin-top: 48px;
  margin-left: 728px;
}

.shape3 {
  position: absolute;
  background-color: #477d1126;
  width: 464px;
  height: 538px;
  border-radius: 50% 50% 0% 0%;
  margin-top: 48px;
  margin-left: 1216px;
  margin-right: 240px;
}

.flowerimg {
  position: absolute;
  width: 100%;
  align-content: center;
}

.pink-flo {
  margin-top: 110px;
  margin-right: 78px;
  margin-left: 76px;
  width: 310px;
  height: 428px;
}

.red-flo {
  margin: 117px 47px 51px 47px;
  width: 370px;
  height: 370px;
}

.yellow-flo {
  margin: 67px 75px;
  width: 314px;
  height: 471px;
}

.flo-name {
  margin-top: 610px;
  text-decoration: underline;
  display: flex;
  color: #272727;
  text-align: center;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.flo-name1 {
  margin-right: 307px;
  margin-left: 381px;
}

.flo-name2 {
  margin-right: 308px;
}

.container {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
  margin: 128px 240px;
}

.icon1 {
  margin: 86px 356px 24px 317px;
}

.icon2 {
  margin: 86px 271px 24px 0px;
}

.icon3 {
  margin: 86px 0px 24px 0px;
}
.container-text {
  display: flex;
}

.deli-text {
  width: 390px;
  height: 35px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin: 0px 80px 87px 175px;
}

.fresh-text {
  width: 345px;
  height: 35px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin: 0px 100px 87px 0px;
}

.call-text {
  width: 235px;
  height: 35px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin: 0px 155px 87px 0px;
}

/* Hot Deals */

.deals {
  width: 100%;
  height: 620px;
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
}

.deals-heading {
  margin-top: 230px;
  margin-left: 423px;
  color: #272727;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 800;
}

.deals-para {
  display: flex;
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  margin-left: 423px;
  margin-right: 186px;
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.btn-deals {
  margin-left: 603px;
  margin-bottom: 162px;
}
.deals-img {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 429px;
}

/* Instagram and Search */

.insta-search {
  width: 100%;
  height: 1280px;
  background-color: #fff;
}

.insta-heading {
  width: 180px;
  height: 48px;
  color: #272727;
  text-align: center;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
  margin-left: 870px;
  margin-right: 270px;
  margin-bottom: 24px;
}

.insta-text {
  display: flex;
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-right: 663px;
  margin-left: 663px;
  margin-bottom: 48px;
}

.image-slide {
  display: flex;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 128px;
  justify-content: space-around;
}

.search {
  width: 1439px;
  height: 450px;
  background-image: url(../Flower-Asset/Rectangle9.png);
  margin: 128px 240px;
  background-repeat: no-repeat;
  display: block;
}
.search-heading {
  width: 400px;
  height: 48px;
  color: #272727;
  text-align: center;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
  margin-right: 534px;
  margin-left: 533px;
  margin-bottom: 16px;
}

.latest-text {
  width: 231px;
  height: 30px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 604px;
  margin-right: 605px;
  margin-top: 65px;
}

.searchbar {
  display: flex;
}

.email-field {
  width: 700px;
  height: 64px;
  margin-top: 48px;
  margin-left: 287px;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 23px 513px 22px 22px;
}

.subs-btn {
  width: 150px;
  height: 64px;
  margin-top: 48px;
  margin-left: 16px;
  padding: 18.29px 31px;
}

/* Footer Section */

footer {
  width: 100%;
  height: 449px;
  background-color: #111010;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-head {
  width: 300px;
  height: 58px;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

.footer-para {
display: block;
width: 625px;
height: 60px;
color: rgba(255, 255, 255, 0.90);
font-family: 'Lato';
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.contact-form {
  width: 500px;
  height: 400px;
  align-content: center;
}
.contact-head {
  color: #f76ebe;
  font-family: 'Lato';
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
  margin: 5px 100px;
}

.form-ct {
  width: 450px;
  height: 40px;
  margin-top: 5px;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;

}

.form-area {
  width: 450px;
  height: 150px;
  display: block;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.copyright {
width: 400px;
height: 19px;
color: rgba(255, 255, 255, 0.40);
font-family: 'Lato';
font-size: 16px;
font-weight: 400;
margin-top: 30px;
}