* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #E55473;
    padding: 20px 43px;
    }

/* Heading Section */

header {
max-width: 1920px;
max-height: 850px;
background: rgba(229, 84, 115, 0.10);
display: flex;
}

.main-heading {
width: 708px;
color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
margin-top: 197px;
margin-left: 240px;
}

.intro-para {
width: 634px;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 240px;
}

.header-img {
width: 635px;
height: 800px;
flex-shrink: 0;
margin-top: 50px;
margin-right: 240px;
margin-bottom: 0px;
margin-left: 97px;
}
 .btn-head {
    margin-left: 240px;
    margin-bottom: 147px;
 }
/* Main Section */

main {
    width: 1920px;
height: 4867px;
background-color: #FFF;
}

.mainpart-heading {
width: 392px;
height: 48px;
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-top: 178px;
margin-left: 764px;
}

.main-para1 {
width: 594px;
height: 60px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
margin-left: 663px;
}

.main-img-section {
    display: flex;
}

.pink-flower {
    display: flex;
}


}
.shape1 {
    position: relative;
    width: 464px;
    height: 538px; 
    background: #E55473;
    border-radius: 50% 50% 0% 0%;
}

.flowerimg {
    position: relative;
    width: 100%;
    align-content: center;
    margin-top: 110px;
    margin-right: 78px;
    margin-left: 76px;
    display: flex;
}
/* Hot Deals */

.deals {
    max-width: 1922px;
    max-height: 620px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    /* border-radius: 8px; */
}

.deals-heading {
    margin-top: 230px;
    margin-left: 423px;
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}

.deals-para {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    margin-left: 423px;
    margin-right: 186px;
    margin-top: 24px;
    margin-bottom: 32px;
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.btn-deals {
    margin-left: 603px ;
    margin-bottom: 162px;
}
.deals-img {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 429px;
}